[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
migrate = "*"
sqlalchemy-serializer = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-cors = "*"
werkzeug = "*"
python-dotenv = "*"
gunicorn = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
